<section id="cart">
    <div>
    <h3>Cart</h3>
    <a href="#" id="close">Close</a>
    </div>
<ul id="cartList"></ul>
    
<button class="primary-btn" id="checkout">Checkout</button>
<button class="btn" id="emptyCart">Clear Cart</button>
</section>

<script>
    const addToCartBtn = document.querySelector('#addToCart');
    const cart = document.querySelector("#cart");
    const checkoutBtn = document.querySelector('#checkout');
    const closeCartBtn = document.querySelector('#close');
    const cartList = document.querySelector('#cartList');
    const clearCartBtn = document.querySelector('#emptyCart');
    const cartBtn = document.querySelector('a[href*="#"]')

    const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];

    
    function addToCart(e) {
        let item = {
            item : e.target.dataset.item,
            qty : 1,
            price : e.target.dataset.price
        };

        cartItems.push(item);
        localStorage.setItem('cartItems',JSON.stringify(cartItems));
        populateCart(cartItems);
        cart.classList.add('show');
    }

    function populateCart(items = []) {
        cartList.innerHTML = items.map((item, i) => {
        return `
        <li>
            ${item.item}
        </li>
        `;
        }).join('');
    }

    function emptyCart() {
        
        cartItems.splice(0,cartItems.length);
        localStorage.setItem('cartItems',JSON.stringify(cartItems));
        populateCart(cartItems);
    }

    function closeCart() {
        cart.classList.remove('show');
    }

    function openCart() {
        console.log('this worked');
        cart.classList.add('show');
    }

    closeCartBtn.addEventListener('click', closeCart);
    addToCartBtn.addEventListener('click',addToCart);
    clearCartBtn.addEventListener('click',emptyCart);
    cartBtn.addEventListener('click',openCart);

</script>