---
---

@import "main";

nav ul {
    display:flex;
    justify-content: right;
    li { 
        display:inline;
        padding:2rem;
        a {
            text-decoration: none;
        }
        &.logo {
            flex-grow:3;    
            
        }
    }
}

.catalog {
    display:flex;
    flex-wrap: wrap;
    .item {
        background-color:black;
        color:pink;
        padding:1rem;
        margin:2rem;
    }
}

#cart {
    display:none;
    height:100vh;
    position:fixed;
    top:0;
    right:0;
    z-index:1;
    background-color:green;
}

#cart.show {
    display:block;
}

#cart div {
    display:flex;
    justify-content:space-between;
}