---
---

@import "main";

nav ul {
    display:flex;
    justify-content: right;
    li { 
        display:inline;
        padding:2rem;
        a {
            text-decoration: none;
        }
        &.logo {
            flex-grow:3;    
            
        }
    }
}

.catalog {
    display:flex;
    flex-wrap: wrap;
    .item {
        background-color:black;
        color:pink;
        padding:1rem;
        margin:2rem;
    }
}