---
---

@import "main";

nav ul {
    display:flex;
    justify-content: right;
    li { 
        display:inline;
        padding:2rem;
        a {
            text-decoration: none;
        }
        &.logo {
            flex-grow:3;    
            
        }
    }
}

.catalog {
    display:flex;
    flex-wrap: wrap;
    .item {
        background-color:black;
        color:pink;
        padding:1rem;
        margin:2rem;
    }
}

#cart {
    height:100vh;
    width:0;
    opacity: 0;
    position:fixed;
    top:0;
    right:0;
    z-index:-1;
    background-color:green;
    transition: 100ms;
    padding:3%;
}

#cart.show {
    min-width:400px;
    width:30%;
    opacity:1;
    z-index:2;
}

#cart div {
    display:flex;
    justify-content:space-between;
}
.overlay {
    display:none;
    background:rgba(58, 104, 64, 0.2);
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1;
    backdrop-filter: blur(1px);
    transition: 100ms;
}